$primary-color:white;

// * {
//     margin: 0;
//     padding: 0;
// }

// input[type=radio]:checked {
//     border: 10px solid red;
//  }

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    *display: inline-block;
    _height: 1%;
}

a,
p {
    text-decoration: none;
    color: $primary-color;
}

body {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

// ==============================
// header
// ==============================
.container1 {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    background-color: #5d737e;
}

header>.container1>h1 {
    color: white;
    margin-left: 15px;
    height: 100px;
    line-height: 60px;
}

.pic {
    width: 100%;
    overflow: hidden;
}

.pic img {
    transform: scale(1, 1);
    transition: all 0.8s ease-out;
}

.pic img:hover {
    transform: scale(1.2, 1.2);
}

// ==============================
// container2
// ==============================

.container2 {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    background-color: white;
}

nav {
    height: 50px;
}

ul,
ol {
    list-style: none;
}

header>.container1>nav>ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    height: 30px;
}

header>.container1>nav>ul>li {
    width: 25%;
    // height: 100%;
    text-align: center;
    background-color: #5d737e;
}

header>.container1>nav>ul>li:hover {
    background-color: #30292f;
}

header>.container1>nav>ul>li>a {
    line-height: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    display: block;
}

.container2>h2 {
    color: #30292f;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.img-rounded {
    width: 300px;
    border-radius: 5px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    margin: 15px;
    width: calc(100%/3-30px);
}

.col-8 {
    margin: 0px 15px 40px 15px;
    width: calc(100%/1.5-30px);
}

.container2 h2 {
    height: 60px;
}

.container2 h2,
p,
a {
    color: #30292f;
    text-align: center;
}

// ==============================
// footer
// ==============================

.container3 {
    background-color: #5d737e;
    margin-top: 30px;
}

dt {
    font-size: 1em;
    color: wheat;
    margin-top: 20px;
    margin-right: 100px;
}

dd {
    margin-bottom: 5px;
}

dd>a {
    color: white;
}

.copyright {
    margin-top: 50px;
    // margin: 50px auto o auto;
    // padding: 50px;
    color: yellow;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}

// ==============================
// ex_list
// ==============================

.breadcrumb {
    display: flex;
    margin: 20px;
    width: 100%;
}

.breadcrumb li {
    color: #30292f;
    font-weight: bold;
}

.w-20{
    width: 20%;
}

.w-80{
    width: 80%;
}

.row li{
    background-color: #458fb4;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 20px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.row a{
    color: white;
}



