$primary-color:white;

* {
    margin: 0;
    padding: 0;
}

a,h1,p {
    text-decoration: none;
    color: $primary-color;
}

body {
    padding: 0;
    margin: 0
}
// ---------------------------header---------------------------
// ---------------------------header---------------------------
// ---------------------------header---------------------------
header {
    background-color: rgb(255, 255, 213);
}

.container {
    margin: auto;
    width: 80%;
    max-width: 1140px;
    background-color: #02111b;
}

header>.container>h1 {
    color: white;
    margin-left: 15px;
    // margin-top:15px;
    height: 60px;
}

ul,
ol {
    list-style: none;
}

header>.container>nav>ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    height: 30px;

}

header>.container>nav>ul>li {
    // margin-right: 30;
    // border: 0.5px solid white;
    width: 25%;
    height: 100%;
    text-align: center;
    background-color:black;
}
header>.container>nav>ul>li:hover {
    // margin-right: 30;
    // border: 0.5px solid white;
    // width: 25%;
    // height: 100%;
    // text-align: center;
    background-color:#5d737e;
}

header>.container>nav>ul>li>a {
    line-height: 30px;
    color: white;
    // font-size: 1em;
    letter-spacing: 2px;
    // border: 0.5px solid white;
    // box-sizing: border-box;
    display: block;
}
// ---------------------------內容---------------------------
.img-fluid{
    width: 100%;
}
// ---------------------------內容---------------------------
// ---------------------------內容---------------------------



