* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// html{
//     width: 100%;
//     max-width: 1200px;
//     margin:auto;
// }

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    margin: auto;
    width: 100%;
    // max-width: 1140px;
    background: url("/public/images/bg-img-100.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

// 共用效果參數
// 手機版menu切換

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 1px;
}

.thumbnails>img {
    width: 20%;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.thumbnails>img.active {
    /* width: 100px;
    margin-right: 10px;
    margin-bottom: 10px; */
    border: 2px solid orange;
}


// 內容參數

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url("/public/images/img-bgc-header.jpg");
    background-position: center;
}

header>.logo {
    width: 50%;
    padding: 10px;
}

.logo>a>img {
    width: 100%;
    height: 100%;
}

nav {
    width: 120px;
    height: 57px;
    float: right;
    position: absolute;
    right: 5px;
    margin: 15px 0 0 0;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact {
    color: white;
    width: 100px;
    // right: 10px;
    margin: 5px 30px 0px 0px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.contact>a {
    color: white;
    display: block;
    width: 100px;
    font-size: large;
}

.menu-mobile {
    display: none;
}

.banner {
    width: 100%;
    // padding: 10px;
    flex-wrap: wrap;
    // position:relative;
}

.banner ul {
    background-color: #f4d35e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner ul li {
    // background-color: #ee964b;
    display: block;
    width: 19%;
    // border: 1px solid white;
    // border-radius: 6px;  
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    // border-top: 2px solid #24619a;

}

.banner ul li:hover {
    background-color: #ee964b;
    border-bottom: 2px solid #24619a;
}

.banner>ul>li>a {
    display: block;
    font-size: medium;
    // font-weight: bold;
}

.banner>ul>li>a:hover {
    font-weight: bolder;
}

// header 參數 end

// footer 參數

footer {
    width: 100%;
    // position: relative;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    // flex-direction: column;
    background-image: url("/public/images/img-bgc-header.jpg");
    background-position: center;
}

footer>.logo {
    margin: 5px 10px;
}

footer>.logo img {
    width: 40px;
}

footer>h5 {
    color: white;
    width: 95%;
    margin: auto;

}

// footer 參數 end

.row {
    float: left;
    width: 100%;
    padding: 10px 30px;
    margin: 0px;
    background: url("/public/images/bg-img-100.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.469);
}

.main-list>a {
    width: 45%;
}

.main-list>div {
    width: 50%;
}

// .main-list p {
//     // height: 200px;
//     // overflow: scroll;
// }

.main-list img {
    width: 100%;
    border-radius: 8px;
    vertical-align: middle;
    box-shadow: 5px 5px 0px 0px black inset;
}

.title-font-size {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 8px;
}

.main-list h5 {
    color: grey;
    margin-bottom: 5px;
}

// 手機版
@media (max-width:500px) {
    .contact a {
        font-size: 14px;
    }

    .menu-mobile {
        display: block;
        color: white;
        width: 100px;
        margin: 5px 8px 0px 0px;
        text-align: center;
        cursor: pointer;
    }

    .menu-mobile>p {
        font-size: 14px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: #ee964b;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .menu-mobile ul li {
        font-size: 14px;
        display: block;
        width: 100%;
        border: 0.4px solid white;
        border-radius: 0.8px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: #faf0ca;
        color: white;
        margin-top: 3px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.175);
    }

    .menu-mobile>ul>li>a {
        color: #0d3b66;
        display: block;
        // font-size: large;
        font-weight: bold;
    }

    .banner {
        display: none;
    }

    .menu-mobile ul {
        display: none;
    }

    .menu-mobile ul.active {
        display: block;
    }

    .main-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        // justify-content: space-between;
        // float: left;
        margin: 10px;
        // border: 2px solid grey;
        // border-radius: 8px;
        padding: 10px;
    }

    .main-list>a {
        display: block;
        width: 100%;
    }

    .main-list>div {
        width: 100%;
    }
}

//for mobile end

// ----------page teachers----------圖片切換

.main-img {
    // width: 80%;
    display: flex;
    flex-direction: column;
    // align-items: center;    
    padding: 30px;
    padding-bottom: 3px;
}

.main-img>img {
    width: 100%;
    max-width: 400px;
    // vertical-align: middle;
    // align-items: center;
    margin: auto;
    margin-bottom: 3px;
}

.main-img p {
    // display: block;
    background-color: #0d3b66b6;
    color: white;
    border-radius: 3px;
    width: 100%;
    max-width: 900px;
    height: 100px;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 8px;
    font-size: medium;
    padding: 5px;
    overflow: scroll;

    display: inline-block;
    // background-color:#eee;
    // width:150px;
    // height:50px;
    // margin-right:20px;
    box-shadow: 0px 0px 9px rgba(128, 128, 128, 0.7);
}

// ----------page classes----------

.class-list {
    width: 90%;
    padding: 15px;
    color: #0d3b66;
    font-weight: bold;
}

// ----------page classes----------標籤切換
.tab-link {
    display: flex;
}

.tab-link>a {
    display: block;
    width: 31%;
    margin: 1%;
    line-height: 40px;
    color: brown;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    background-color: rgb(212, 212, 212);
}

.tab-link>a.active {
    background-color: rgb(255, 182, 25);
    font-weight: bold;
}

.tab-content {
    display: none;
    width: 100%;
    border-top: 2px solid rgba(128, 128, 128, 0.5);
    background-color: antiquewhite;

}

.tab-content.active {
    display: block;
}

.tab-content>img {
    margin: 0;
    /* display: flex;
    flex-wrap: wrap; */
}

//   .tab-content .row{
//     margin: 10px;
//     display: flex;
//     width: 100%;
//   }

//   .tab-content img{
//     width: 50%;
//   }

//   .img-description{
//     width: 50%;
//   }