$primary-color:white;

* {
    margin: 0;
    padding: 0;
}

a,
p {
    text-decoration: none;
    color: $primary-color;
}

body {
    padding: 0;
    margin: 0
}

header>.container>h1 {
    color: white;
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1140px;
    background-color: #02111b;
}

.container>h2 {
    color: $primary-color;
    text-align: center;
}

ul,
ol {
    list-style: none;
}

header>.container>nav>ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    height: 30px;
}

header>.container>nav>ul>li {
    // margin-right: 30;
    // border: 0.5px solid white;
    width: 25%;
    height: 100%;
    text-align: center;
    background-color: black;
}

header>.container>nav>ul>li:hover {
    // margin-right: 30;
    // border: 0.5px solid white;
    // width: 25%;
    // height: 100%;
    // text-align: center;
    background-color: #5d737e;
}

header>.container>nav>ul>li>a {
    line-height: 30px;
    color: white;
    letter-spacing: 2px;
    display: block;
}

// ---------------------------內容---------------------------
.img-fluid {
    width: 100%;
}

.img-rounded {
    width: 250px;
    border-radius: 8px;
    margin: 10px;
}

.img-circle {
    border-radius: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100%/3-30px);
    margin: 0 15 40 15;
}

.container h1,
p {
    text-align: center;
}

.text-center {
    text-align: center;
}