* {
  margin: 0;
  padding: 0;
}

a,
p {
  text-decoration: none;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.container1 {
  margin: auto;
  width: 100%;
  max-width: 1920px;
  background-color: #5d737e;
}

header > .container1 > h1 {
  color: white;
  margin-left: 15px;
  height: 100px;
  line-height: 60px;
}

.pic {
  width: 100%;
  overflow: hidden;
}

.pic img {
  transform: scale(1, 1);
  transition: all 0.8s ease-out;
}

.pic img:hover {
  transform: scale(1.2, 1.2);
}

.container2 {
  margin: auto;
  width: 100%;
  max-width: 1920px;
  background-color: white;
}

nav {
  height: 50px;
}

ul,
ol {
  list-style: none;
}

header > .container1 > nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  height: 30px;
}

header > .container1 > nav > ul > li {
  width: 25%;
  text-align: center;
  background-color: #5d737e;
}

header > .container1 > nav > ul > li:hover {
  background-color: #30292f;
}

header > .container1 > nav > ul > li > a {
  line-height: 30px;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
}

.container2 > h2 {
  color: #30292f;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.img-rounded {
  width: 300px;
  border-radius: 5px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  margin: 10px;
  width: calc(100%/3-30px);
}

.container2 h2 {
  height: 60px;
}

.container2 h2,
p,
a {
  color: #30292f;
  text-align: center;
}

.container3 {
  background-color: #5d737e;
  margin-top: 30px;
}

dt {
  font-size: 1em;
  color: wheat;
  margin-top: 20px;
  margin-right: 100px;
}

dd {
  margin-bottom: 5px;
}

dd > a {
  color: white;
}

.copyright {
  margin-top: 50px;
  color: yellow;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
}