@charset "UTF-8";
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

/* ============================================
  共用參數
  ============================================ */
a,
p {
  text-decoration: none;
  color: white;
}

ul, li {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #5d737e;
}

.container_white {
  margin: auto;
  background-color: white;
}

.text-center {
  text-align: center;
}

ul,
ol {
  list-style: none;
}

.overflow-hidden {
  overflow: hidden;
}

/* ============================================
  圖片參數
  ============================================ */
.pic {
  width: 100%;
  overflow: hidden;
}

.pic img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.pic img:hover {
  transform: scale(1.2, 1.2);
}

.img-rounded {
  width: 100%;
  border-radius: 5px;
}

/* ============================================
  HEADER
  ============================================ */
/* ============================================
  HEADER
  ============================================ */
header > .container {
  position: relative;
}

/* header > .container > .icon-menu{
    position: fixed;
  } */
header > .container > h1 {
  color: white;
  margin-left: 15px;
  margin-bottom: 0px;
  line-height: 60px;
}

/* nav {
    height: 50px;

  } */
/* header nav{
    width: 100%;
    float:left
  } */
/* header nav ul{
    width: 100%;
    display: block;
  } */
/* ============================================
  header的選單
  ============================================ */
header > .container > nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0%;
  height: 30px;
}

header > .container > nav > ul > li {
  width: 25%;
  text-align: center;
  background-color: #5d737e;
}

header > .container > nav > ul > li:hover {
  background-color: #30292f;
}

header > .container > nav > ul > li > a {
  line-height: 30px;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
}

/* ============================================
  container
  ============================================ */
.container_white h2,
p,
a {
  color: #30292f;
  text-align: center;
}

.container_white > h2 {
  color: #30292f;
  height: 60px;
  width: 100%;
  text-align: left;
  margin: 0 0 0 15px;
  line-height: 60px;
}

/* ============================================
  主內容的圖片展示
  ============================================ */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: calc(100% / 4 - 15px);
  margin: 5px;
}

.col-4 {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

.col-61 {
  width: calc(100% / 2 - 10px);
  margin: 5px;
}

.col-81 {
  width: calc(100% / 1.5 - 10px);
  margin: 5px;
}

@media (max-width: 800px) {
  .col-8 {
    width: calc(100% / 2 - 30px);
    margin: auto;
  }

  .col-3 {
    width: calc(100% / 1 );
    margin: 15px 15px 15px 15px;
  }
}
@media (max-width: 400px) {
  .col-12 {
    width: calc(100% / 1 - 30px);
    margin: 0;
  }

  .col-3 {
    width: calc(100% / 1 );
    margin: 0;
  }
}
/* .w-20 {
    width: 20%;
  }

  .w-80 {
    width: 80%;
  } */
.row li {
  background-color: #30292f;
  border: 1px solid white;
  border-radius: 8px;
  width: 70%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.row a {
  color: white;
}

.btn-primary {
  background-color: #30292f;
  color: white;
}

.text-primary {
  color: white;
}

.img-overlay {
  overflow: hidden;
}

.img-wrap {
  display: block;
  background-color: yellowgreen;
  position: relative;
  margin-bottom: 10px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.1);
}

.icon-new {
  line-height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: -25px;
  position: absolute;
  left: 25px;
  top: 0px;
  color: white;
  background-color: green;
}

/* ============================================
  FOOTER的圖片展示
  ============================================ */
/* ============================================
  FOOTER的圖片展示
  ============================================ */
/* .style_footer {
    background-color: #5d737e;
    margin: 0 0 0 0;
  }

  .style_footer dt {
    margin-left: 15px;
  } */
dt {
  font-size: 1em;
  color: wheat;
  margin-top: 20px;
  margin-right: 100px;
}

dd {
  margin-bottom: 5px;
}

dd > a {
  color: white;
}

.copyright {
  margin-top: 50px;
  color: yellow;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
}

/* ============================================
  其他元素設定
  ============================================ */
.breadcrumb {
  display: flex;
  margin: 20px;
  width: 100%;
}

.breadcrumb li {
  color: #30292f;
  font-weight: bold;
}

/* ============================================
  手機版
  ============================================ */
/* ============================================
  手機版
  ============================================ */
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
.icon-menu {
  float: right;
  width: 40px;
  margin-top: 10px;
  margin-right: 5px;
  height: 40px;
}

@media (max-width: 767px) {
  header > .container > nav {
    display: none;
    width: 100%;
    float: left;
  }

  header > .container > img.active {
    display: block;
  }
}
/* ============================================
  自適應網頁index改版
  ============================================ */
header > .container > img > a {
  display: block;
}