* {
  margin: 0;
  padding: 0;
}

a,
p {
  text-decoration: none;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

header > .container > h1 {
  color: white;
  margin-left: 15px;
  height: 60px;
  line-height: 60px;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1140px;
  background-color: #02111b;
}

.container > h2 {
  color: white;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

header > .container > nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  height: 30px;
}

header > .container > nav > ul > li {
  width: 25%;
  height: 100%;
  text-align: center;
  background-color: black;
}

header > .container > nav > ul > li:hover {
  background-color: #5d737e;
}

header > .container > nav > ul > li > a {
  line-height: 30px;
  color: white;
  letter-spacing: 2px;
  display: block;
}

.img-rounded {
  width: 80%;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33%;
}

.container h1,
p {
  text-align: center;
}

.text-center {
  text-align: center;
}

.copyright {
  color: white;
}

dt {
  font-size: 1.2em;
  color: bisque;
  margin-top: 20px;
  margin-right: 100px;
}

dd {
  margin-bottom: 5px;
}

dd > a {
  color: white;
}

.copyright {
  padding: 50px;
  color: red;
  font-style: italic;
}

body h3 {
  color: yellow;
}