* {
  margin: 0;
  padding: 0;
}

a, h1, p {
  text-decoration: none;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ffffd5;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
  background-color: #02111b;
}

header > .container > h1 {
  color: white;
  margin-left: 15px;
  height: 60px;
}

ul,
ol {
  list-style: none;
}

header > .container > nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  height: 30px;
}

header > .container > nav > ul > li {
  width: 25%;
  height: 100%;
  text-align: center;
  background-color: black;
}

header > .container > nav > ul > li:hover {
  background-color: #5d737e;
}

header > .container > nav > ul > li > a {
  line-height: 30px;
  color: white;
  letter-spacing: 2px;
  display: block;
}

.img-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.3%;
}

.container h1, p {
  text-align: center;
}