@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "微軟正黑體";
}

html {
  margin: auto;
  width: 100%;
  max-width: 1140px;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1140px;
  background: url("../../public/images/bg-img-100.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 1px;
  width: 100%;
}

.thumbnails > img {
  width: 20%;
  /* margin-right: 10px; */
  margin-bottom: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.thumbnails > img.active {
  /* width: 100px;
  margin-right: 10px;
  margin-bottom: 10px; */
  border: 2px solid orange;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url("../../public/images/img-bgc-header.jpg");
  background-position: center;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.325);
}

header > .logo {
  width: 50%;
  padding: 10px;
  position: relative;
}

.logo > a > img {
  width: 100%;
  height: 100%;
}

nav {
  height: 57px;
  position: relative;
  margin: 15px 0 0 0;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
}

.contact {
  color: white;
  width: 220px;
  position: relative;
  margin: 5px 30px 0px 0px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 767px) {
  .contact {
    color: white;
    width: 180px;
    position: relative;
    margin: 5px 30px 0px 0px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

  .contact > a {
    color: white;
    display: block;
    width: atuo;
    font-size: large;
    letter-spacing: 5px;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
  }
}
.menu-mobile {
  display: none;
}

.banner {
  width: 100%;
  flex-wrap: wrap;
  cursor: pointer;
}

.banner ul {
  background-color: rgba(244, 212, 94, 0.65);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner ul li {
  display: block;
  width: 19%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.banner ul li:hover {
  background-color: #ee974bd2;
  border-bottom: 2px solid #24619a;
}

.banner > ul > li > a {
  display: block;
  font-size: medium;
}

.banner > ul > li > a:hover {
  font-weight: bolder;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url("../../public/images/img-bgc-header.jpg");
  background-position: center;
}

footer > .logo {
  margin: 5px 10px;
}

footer > .logo img {
  width: 40px;
}

footer > h5 {
  color: white;
  width: 95%;
  margin: auto;
}

.row {
  float: left;
  width: 100%;
  padding: 10px 30px;
  margin: 0px;
  background: url("../../public/images/bg-img-100.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-list {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.469);
}

.main-list > a {
  width: 45%;
}

.main-list > div {
  width: 50%;
}

.main-list img {
  width: 100%;
  border-radius: 8px;
  vertical-align: middle;
  box-shadow: 5px 5px 0px 0px black inset;
}

.title-font-size {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.main-list h5 {
  color: grey;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.main-list p {
  line-height: 25px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  nav {
    margin: 10px 0 0 15px;
    padding: 0;
  }

  .contact {
    color: white;
    width: 150px;
    margin: 0px;
  }

  .contact a {
    color: white;
  }

  .menu-mobile {
    display: block;
    color: white;
    width: 150px;
    margin: 5px 8px 0px 0px;
    text-align: center;
    cursor: pointer;
  }

  .menu-style {
    width: 150px;
  }

  .menu-mobile > p {
    font-size: 14px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ee964b;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-mobile ul li {
    font-size: 14px;
    display: block;
    width: 100%;
    border: 0.4px solid white;
    border-radius: 0.8px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #faf0ca;
    color: white;
    margin-top: 3px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.175);
  }

  .menu-mobile > ul > li > a {
    color: #0d3b66;
    display: block;
    font-weight: bold;
  }

  .banner {
    display: none;
  }

  .menu-mobile ul {
    display: none;
  }

  .menu-mobile ul.active {
    display: block;
  }

  .main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }

  .main-list > a {
    display: block;
    width: 100%;
  }

  .main-list > div {
    width: 100%;
  }
}
.class-list {
  width: 90%;
  padding: 15px;
  color: #0d3b66;
  font-weight: bold;
}

.tab-link {
  display: flex;
}

.tab-link > a {
  display: block;
  width: 31%;
  margin: 1%;
  line-height: 40px;
  color: brown;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #d4d4d4;
}

.tab-link > a.active {
  background-color: #ffb619;
  font-weight: bold;
}

.tab-content {
  display: none;
  width: 100%;
  border-top: 2px solid rgba(128, 128, 128, 0.5);
  background-color: antiquewhite;
}

.tab-content.active {
  display: block;
}

.tab-content > img {
  margin: 0;
}

.main-img {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 3px;
}

.main-img > img {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 3px;
}

.main-img p {
  display: inline-block;
  overflow-y: scroll;
  color: #0d3b66b6;
  background-color: white;
  border-radius: 3px;
  width: 100%;
  max-width: 900px;
  height: 150px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0px 0px 9px rgba(128, 128, 128, 0.7) inset;
  line-height: 25px;
  font-size: medium;
  letter-spacing: 1px;
  justify-content: center;
}

#teacher-description::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

#teacher-description::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#teacher-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ee974bd2;
}