doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 黃之均教室
        link(rel="stylesheet", href="/public/css/styles.css")
    body 
        header
            .container
                h1 我的教室
                nav
                    ul
                        li
                            a(href="page1.html") 關於我
                        li
                            a(href="page2.html") 課程
                        li
                            a(href="page3.html") 師資
                        li
                            a(href="page4.html") 報名
            .container_white 
                ul.breadcrumb
                    li 
                    a(href="index.html") 首頁
                    li > 課程
                .row
                    .col-4
                        p 左1
                        p 左2
                        p 左3
                    .col-8
                        p 右1
                        p 右2
                        p 右3
        footer 
            .style_footer 
                .copyright copyright
    
